:root {
  --main-text-color: #88c0d0;
}

html {
  font-size: 100%;
}

body {
  background-color: #2e3440;
}

h1 {
  color: var(--main-text-color);
  background-color: #3B4252;
  border: 3px solid #434c5e;
  border-radius: 10px;
  font-family: Iosevka;
  text-align: center;
  font-size: 3rem;
  margin-left: 4%;
  margin-right: 4%;
}

small {
  color: #8fbcbb;
  font-size: 2rem;
}

/* NavBar */

.navbar {
  list-style-type: none;
  margin: 2%;
  padding: 0;
  overflow: hidden;
  border-bottom: 3px solid #3b4252;
  border-radius: 10px;
  background-color: #434c5e;
}

li {
  float: right;
  font-family: Iosevka;
  font-size: 1.7rem;
  color: var(--main-text-color);
  vertical-align: middle;
}

.list {
  float: none;
  margin-left: 100px;
  margin-right: 100px;
}

li a {
  display: block;
  font-family: "Fira Code";
  color: #8fbcbb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.5s;
}

li a:hover {
  background-color: #4c566a;
}

.active {
  background-color: #4c566a;
}

.name {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 2rem;
}

/* NavBar End */

/* Project Generics */
.project-list {
  margin-left: 4%;
  margin-right: 4%;
  /* display: flex; */
  justify-content: center;
}

.project-entry {
  background-color: #434c5e;
  border: 3px solid #3b4252;
  border-radius: 10px;
  flex-grow: 1;
  margin: 10px;
}

.project-title {
  color: var(--main-text-color);
  font-family: Iosevka;
  font-weight: bold;
  font-size: 2.25rem;
  text-align: center;
}

.project-info {
  display: flex;
}

.proj-img {
  height: 20rem;
  margin: 1rem;
  border-radius: 10px;
}

.project-desc {
  font-family: Iosevka;
  font-size: 1.5rem;
  color: #ECEFF4;
  margin: 1rem;
  flex-grow: 2;
}

.project-desc-sub {
  color: #BF616A;
  font-weight: bold;
}

.link {
  text-decoration: underline;
  color: #5E81AC;
  text-align: center;
}

/* Project Generics End */