/* Global Variables I Guess */
:root {
  --main-text-color: #88c0d0;
}
/* /Global Variables I Guess */

/* Unsorted */

body {
  /*background-image: url('../images/Wallpaper1.jpg');*/
  /* background-color: #282828; */
  background-color: #eceff4;
}

h2 {
  /*color: var(--main-text-color);*/
  color: #d79921;
  font-size: 200%;
  font-family: Iosevka;
  border-bottom: 4px solid #3b4252;
  margin-left: 100px;
  margin-right: 100px;
}

h1 {
  color: var(--main-text-color);
  font-family: Iosevka;
  text-align: center;
  font-size: 300%;
  border: 3px solid #3b4252;
  background-color: #d8dee9;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

small {
  color: #8fbcbb;
  font-size: 30px;
}

h3 {
  color: #edbbb2;
  text-align: center;
  font-family: Iosevka;
  margin-top: -20px;
  margin-bottom: -20px;
}

img {
  border-radius: 4px;
  margin-top: 10px;
}

/* /Unsorted */

/* NavBar */

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 3px solid #3b4252;
  background-color: #434c5e;
}

li {
  float: right;
  font-family: Iosevka;
  font-size: 20px;
  color: var(--main-text-color);
}

.list {
  float: none;
  margin-left: 100px;
  margin-right: 100px;
}

li a {
  display: block;
  font-family: "Fira Code";
  color: #8fbcbb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
:window-inactive li a:hover {
  background-color: #4c566a;
}

.active {
  background-color: #4c566a;
}

.name {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 25px;
}

/* NavBar End */

/*Selection Styling*/
.box {
  top: 50%;
  left: 50%;
  padding: 10px;
}

.box select {
  background-color: #5e81ac;
  color: #d8dee9;
  padding: 12px;
  width: 175px;
  border: none;
  font-size: 20px;
  font-family: "Fira Code";
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  font-family: FontAwesome;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

/* Selection Styling End */

.boardControls {
  background-color: #d8dee9;
  border: 3px solid #3b4252;
  width: 15%;
  display: inline-block;
}

#start {
  background-color: #5e81ac;
  color: #d8dee9;
  border: none;
  width: 175px;
  margin: 10px 10px;
  padding: 10px 10px;
  font-size: 20px;
}

#mainScreen {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}

.label {
  font-family: "Fira Code";
}
